 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap'); 
 @keyframes bgMove {
    to{background-position: 100% 100%;}
 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body .container{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(25deg,rgb(230,0,62),rgb(250,193,0),rgb(237,120,72),rgb(21,24,21));
    background-size: 400%;
    background-position: 0% 0%;
    animation: bgMove 10s ease-in-out alternate infinite;
    & .title{
        font-size: 13vw;
        word-spacing: 5vw;
       color:white;
    }
    & .question{
        position: relative;
        left: 40%;
        font-size: 5vw;
        color: white;
    }
    & .ansy{
        position: relative;
        left: 41%;
        font-size: 1.8vw;
        padding: 1vmax;
        border: none;
        cursor:pointer;
        text-decoration: underline;
        color: white;
        background-color: transparent;
    }
    & .ansn{
        position: relative;
        left: 41%;
        font-size: 1.8vw;
        padding: 1vmax;
       border: none;
        cursor:pointer;
        text-decoration: underline;
        color: white;
        background-color: transparent;

    }
}