*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: "Comic Sans MS";
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
   
    & .web-cursor{
        position: absolute;
        pointer-events: none;
        transform: translate(-3.75vmax, -3.75vmax); 
        z-index: 100;
    }
    & .web-container{
        position: relative;
        width: 100vw;
        height: 90vh;
        perspective: 250px;
        animation: conPerOri 2s linear infinite alternate;
        & .web-title{
            position: absolute;
            font-size: 12vw;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 1.5vw;
            left: 0%;
            top: 0%;
            text-shadow: 6px -6px 0 #222;
        }
        & .web-image{
            position: absolute;
            left: 75%;
            top: 15%;
            max-width:18vw;
            clip-path: ellipse(46% 51% at 48% 50%);
            animation:imgShake ease-in-out alternate 3s infinite;
        }
        & .web-message{
            transform: rotateX(5deg) rotateY(8deg);
            clip-path: polygon(4% 4%, 96% 2%, 100% 71%, 73% 77%, 80% 100%, 53% 77%, 1% 73%);
            width: 32%;
            height: 30%;
            background-color: beige;
            border: 1px solid rgb(74, 61, 49);
            position: absolute;
            left: 10%;
            top: 40%;
        }
        
        & .web-animation{
            position: absolute;
            left: 50%;
            top: 56%;
        }
        & .web-button{
            position: absolute;
            border-radius: 100vmax;
            background-color: transparent;
            left: 41%;
            top: 72%;
            transition: 0.5s;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
    & .web-links{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 10vh;
    
}
}
@keyframes imgShake{
    0%,66%{transform:rotate(10deg)}
    33%,100%{transform:rotate(-10deg)}
}
@keyframes conPerOri {
   from{perspective-origin: 30% 5%;}to{perspective-origin: 50% 5%;}
}