*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: "Comic Sans MS";
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
   
    & .web-cursor{
        position: absolute;
        pointer-events: none;
        transform: translate(-3.75vmax, -3.75vmax); 
        z-index: 100;
    }
    & .web-container{
        position: relative;
        width: 100vw;
        height: 90vh;
        perspective: 250px;
        animation: conPerOri 2s linear infinite alternate;
        & .web-title{
            position: absolute;
            font-size: 11vw;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 1vw;
            left: 0%;
            top: 0%;
            text-shadow: 3px -3px 0 #222;
            &::first-letter{
                font-size: 18vw;
                text-shadow: 5px -5px 0 #222;
            }
        }
        & .web-image{
            position: absolute;
            left: 80%;
            top: 5%;
            max-width:18vw;
            clip-path: ellipse(46% 51% at 48% 50%);
            animation:imgShake ease-in-out alternate 3s infinite;
        }
       
        
        
        & .web-animation{
            position: absolute;
            left: 50%;
            top: 56%;
        }
        & .web-button{
            position: absolute;
            border-radius: 100vmax;
            background-color: transparent;
            left: 52%;
            top: 87%;
            transition: 0.5s;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
    & .web-links{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 10vh;
    
}
}
@keyframes imgShake{
    0%,66%{transform:rotate(10deg)}
    33%,100%{transform:rotate(-10deg)}
}
