*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: "Comic Sans MS";
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
   
    & .web-cursor{
        position: absolute;
        pointer-events: none;
        transform: translate(-1.75rem, -1.75rem); 
        z-index: 100;
    }
    & .web-container{
        position: relative;
        width: 100vw;
        height: 90vh;
        & .web-title{
            position: absolute;
            font-size: 12rem;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 1.5rem;
            left: 0%;
            top: -7%;
            text-shadow: 6px -6px 0 #222;
        }
        & .web-image{
            position: absolute;
            left: 45%;
            top: 48%;
        }
        & .web-animation{
            position: absolute;
            left: 50%;
            top: 56%;
        }
        & .web-button{
            position: absolute;
            border-radius: 100vmax;
            background-color: transparent;
            left: 41%;
            top: 72%;
        }
    }
    & .web-links{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 10vh;
    
}
}