@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '新細明體','Comic Neue', cursive;
    color:rgb(255, 238, 5);
    background-color: #111;
}
body{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    & .web-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 100vh;
        & .web-title{
            font-size: 11vw;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 2vw;
            &::first-letter{
                font-size: 14vw;
            }
        }
        & #radio{
            width: 8vmax;
            height:8vmax;
            animation: bigAndSmall 1.5s infinite;
        }
       & .computer{
        position: relative;
        perspective: 100px;
        width: 68vw;
        height: 40vh;
        & .speaker{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 60%;
            left:-3%;
            width: 12vw;
            height: 10vh;
            border-radius: 5px;
            border: 2px solid rgb(255, 238, 5);
            & .circle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.5vmax;
                height: 3.5vmax;
                border-radius: 50%;
                border: 2px solid rgb(255, 238, 5);
                & .incircle{
                    @extend .circle;
                    width: 50%;
                    height: 50%;
                }
            }
            &:last-child{
               
             left:85%;
              
            }
        }
        & .screen{
            left:5%;
            width: 90%;
            height: 55%;
            border-radius: 1vmax;
            position: absolute;
            border: 2px solid rgb(255, 238, 5);
            & .screen-up{
              @extend .screen;
              left: 0;
              position: relative;
              width: 100%;
              height: 80%;
              padding: 1vmax;
              font-size: 10vw;
              border-block-start: none;
              border-inline-start: none;
              border-inline-end:none;
              background-color:#111 ;
              }  
        }
        & .neck{
            width: 30%;
            height: 13%;
            left: 35%;
            top: 55%;
            position: absolute;
            background-color: rgb(255, 238, 5);
            clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
            border-radius: 0 0 1.5vmax 1.5vmax;
        }
        & .keyboards{
            display: grid;
            grid-template-columns: repeat(10,10%);
            grid-template-rows:repeat(6) ;
            width: 65%;
            height: 18%;
            left:17.5%;
            top:75%;
            position: absolute;
            perspective: 250px;
            border-radius: 1vmax;
            border: 1px solid rgb(255, 238, 5);
            transform: rotateX(50deg);
            & .keyboard{
                border: 1px solid rgb(255, 238, 5);
               &:first-child{
                border-radius: 1vmax 0 0 0;
               }
               &:nth-child(10){
                border-radius: 0 1vmax 0 0;
               }
               &:nth-child(51){
                border-radius: 0 0 0 1vmax;
               }
               &:last-child{
                border-radius: 0 0 1vmax;
               }
            }
            
        }
       }
        & .web-button{
            padding: 1vmax;
            background-color:rgb(255, 238, 5);
            color: #111;
            border-radius: 100vmax;
            border:none;
            width: fit-content;
            height: fit-content;
            animation: bigAndSmall 1.5s infinite;
            font-size: 5vw;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 0.5vw;
            &::first-letter{
                font-size: 7vw;
            }
        }
        
    }
}



   

@keyframes bigAndSmall {
    20%{transform: scale(1.3);}
    30%{transform: scale(1.1);}
    40%{transform: scale(1.2);}
    50%{transform: scale(1);}
}

